.active-sort { background: #F9D00F; }
.product-card:hover { background-color: #f9fafb; }
.companies { align-items: center; }
.bg-gray-100, .header-2, .yellow-button { background: #F9D00F; }
.bg-gray-200 { background: #F0AE2C; }
.left-aside { background: #FBF7F7; }
.main-products { margin-bottom: 40px; }