.active-sort { background: #F9D00F; }
.product-card:hover { background-color: #f9fafb; }
.companies { align-items: center; }
.bg-gray-100, .header-2, .yellow-button { background: #F9D00F; }
.bg-gray-200 { background: #F0AE2C; }
.left-aside { background: #FBF7F7; }
.main-products { margin-bottom: 40px; }
.contacts-footer {
	height: 26px;
	gap: 2.5rem;
}

.contacts-header, .sign-in-header {
	display: flex;    
	font-size: 20px;
}

.contacts-header img {
	height: 22px;
	margin: 0 10px 0 30px;
}

.list-style-button {
	gap: 1.5rem;
}

.list-style-button button {
	height: 22px;
}

.list-style-button button img {
	height: 100%;
}

.search {
	display: flex;
	width: 50%;
}

.search input {
	width: 90%;
}

.search img {
	height: 30px;
	width: 10%;
	margin: auto;
}

/* ---------------------------------------------------------------------- */

.header__nav-item, .header__user-btn { white-space: nowrap; }
.header__nav-list { 
	display: flex;
	gap: 40px;
}

.header__user-nav, .header__nav-phone, .header__nav-mail, .header__nav-city {
    position: relative;
    padding-left: 28px;
	font-size: 20px;
}

.header__user-nav::before, .header__nav-phone::before, .header__nav-mail::before, .header__nav-city::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
}

.header__user-nav::before { background: url("../img/user-icon.svg") no-repeat; }
.header__nav-phone::before { background: url("../img/phone-calling-svgrepo-com.svg") no-repeat; }
.header__nav-mail::before { background: url("../img/mail-alt-svgrepo-com.svg") no-repeat; }
.header__nav-city::before { background: url("../img/geo-alt-svgrepo-com.svg") no-repeat; }

/* ---------------------------------------------------------------------- */


.aside-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.aside-checkbox .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
}

.aside-checkbox input:checked ~ .checkmark {
    background-color: #F9D00F; 
    border-color: #F9D00F;
}

.aside-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.aside-checkbox input:checked ~ .checkmark::after {
    display: block;
}

/* ---------------------------------------------------------------------- */

